<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: head"/>
<body>
<nav th:replace="layout :: navbar"/>

<div class="container genericContainer">
    <input id="pac-input" class="form-control" type="text" placeholder="Search Box" style="z-index: 1;position: absolute;left: 250px;top: 60px;"/>
    <div id="map"/>
</div>

<div th:replace="layout :: bottom"/>

<script th:src="@{/resources/js/gymFinderMap.js}"/>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN4subLgx1PfQwO0LDS_6fSPJmdu5Zg2E&amp;callback=initMap&amp;libraries=places"/>
<style>
    #map {
        height: 600px;
        width: 100%;
        margin-top: 20px;
    }
    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
    }

</style>
</body>

</html>