<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <title>Gym Finder</title>
    <link th:href="@{//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/global.css}" rel="stylesheet"/>
    <link th:href="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/css/star-rating.min.css" />
</head>
<body>

<!--@thymesVar id="stateList" type="java.util.List<rook.domain.State>"-->

<!--<nav th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 20px">-->
    <!--<div class="container">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" th:href="@{/Main}">Rook</a>-->
        <!--</div>-->
        <!--<div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">-->
            <!--<ul class="nav navbar-nav">-->

                <!--<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Clusters <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li class="dropdown dropdown-submenu" th:each="state : ${stateList}">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="${state.stateName}"></a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li th:each="cluster : ${state.clusterList}">-->
                                    <!--<a th:href="@{/Clusters/} + ${state.id} + '/' + ${cluster.id}" th:text="${cluster.name}"/>-->
                                <!--</li>-->
                                <!--<li class="divider" th:unless="${state.clusterList.isEmpty()}"/>-->
                                <!--<li>-->
                                    <!--<a th:href="@{/Clusters/new/} + ${state.id}">-->
                                        <!--<i class="fa fa-plus" aria-hidden="true"/>-->
                                        <!--<span>Add New..</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->


                <!--<li>-->
                    <!--<a th:href="@{/Sites}">Sites</a>-->
                <!--</li>-->

                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
                        <!--Dashboard <span class="caret"></span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a th:href="@{/Dashboard/tables}">Tables</a></li>-->
                        <!--<li><a th:href="@{/Dashboard/charts}">Charts</a></li>-->
                    <!--</ul>-->
                <!--</li>-->

                <!--<li><a th:href="@{/Milestones}">Milestones</a></li>-->
                <!--<li><a th:href="@{/logout}">Logout</a></li>-->

            <!--</ul>-->
        <!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
    <!--</div>-->
<!--</nav>-->

</body>

<div th:fragment="bottom">
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js}"/>
    <script th:src="@{//cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.1.0/spin.min.js}"/>
    <!--Data table-->
    <script th:src="@{//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js}"/>
    <script th:src="@{//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.11/js/dataTables.bootstrap.min.js}"/>
    <script th:src="@{//cdnjs.cloudflare.com/ajax/libs/jszip/2.6.0/jszip.min.js}"/>
    <script th:src="@{//cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js}"/>
    <script th:src="@{//cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js}"/>
    <!--<script th:src="@{/resources/lib/DataTables-1.10.11/extensions/Buttons/js/buttons.bootstrap.min.js}"/>-->
    <script th:src="@{//cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js}"/>
    <script th:src="@{//cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js}"/>
    <script th:src="@{//cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js}"/>

    <script th:src="@{//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js}"/>
    <script th:src="@{/resources/js/bootboxGlobal.js}"/>

    <script th:src="@{//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js}"/>
    <script th:src="@{//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js}"/>
    <script th:src="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/js/star-rating.min.js"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
    <script>
        (function($){
            $(document).ready(function(){
                $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
                    event.preventDefault();
                    event.stopPropagation();
                    $(this).parent().siblings().removeClass('open');
                    $(this).parent().toggleClass('open');
                });
            });
        })(jQuery);
    </script>
    <script th:inline="javascript">
        var contextPath = /*[[@{/}]]*/ '/';
    </script>
</div>

</html>