<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: head"/>
<body>

<div class="container">
    <div class="row" style="margin-top: 20px">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>User Login</h4>
                </div>
                <div class="panel-body">

                    <form th:action="@{/login}" method="POST">
                        <div class="row">
                            <div class="col-xs-12">
                                <input class="form-control" name="username"/>
                            </div>
                        </div>
                        <div class="emptyRow"/>
                        <div class="row">
                            <div class="col-xs-12">
                                <input class="form-control" name="password" type="password"/>
                            </div>
                        </div>
                        <div class="emptyRow"/>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-default">
                                    <i class="fa fa-sign-in" aria-hidden="true"/>
                                    <span>Sign in</span>
                                </button>
                                <!--<a class="btn btn-default" th:href="@{/api/generateDummy}">-->
                                    <!--Create Dummy-->
                                <!--</a>-->
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>




<div th:replace="layout :: bottom"/>
</body>
</html>